<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration     PUBLIC "-//mybatis.org//DTD Config 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>  
		<setting name="logImpl" value="LOG4J"/>
	</settings>

	<typeAliases>
		<!-- 系统 管理-->
		<typeAlias alias="roadSubscribeVo" type="org.jiaowei.mybatis.vo.RoadSubscribeVo" />
		<typeAlias alias="roadHtljVo" type="org.jiaowei.mybatis.vo.RoadHtljVo" />
		<typeAlias alias="reportedMsgVo" type="org.jiaowei.mybatis.vo.ReportedMsgVo" />
		<typeAlias alias="roadSendMessageVo" type="org.jiaowei.mybatis.vo.RoadSendMessageVo" />
		<typeAlias alias="userVo" type="org.jiaowei.mybatis.vo.UserVo" />
	</typeAliases>
</configuration>