 html,body,.container{
	margin:0 !important;
	padding:0 !important;
	overflow:hidden;
	width:100% !important;
	font-family: "Microsoft YaHei";
}

.map,.foot{
	width:100%;
	margin:0 !important;
	display:flex;
	z-index:10;
}

.contentFoot .row{
	width:100%;
	min-height:14%;
	margin:0 !important;
	display:flex;
}

.col-xs-12, .col-md-12, .col-lg-12{
	width:100%;
	padding:0 !important;
	margin:auto;
}

#dituContent{
	position: absolute;
	z-index: -10;
	width:100%;
	height:58%;
	border:#ccc solid 1px;
}

.Relocation{
	position:absolute;
	width:15%;
	height:23%;
	display:flex;
	right:2%;
	top:28%;
	flex-direction:column;
}

#relocation,#showRepairFactory {
	width:60%;
	height:26%;
	background:#fff;
	display:flex;
	margin:auto;
}

.Relocation img{
	width:65%;
	height:60%;
	margin:auto;
}
.contentFoot{
	width: 100%;
	height: 42%;
	position:absolute !important;
	z-index: 200;
	bottom: 0px;
	background:#fff;
}

.col-xs-2, .col-md-2, .col-lg-2{
	width:20% !important;
	padding:0 !important;
	margin:auto;
	margin-left:2% !important;
}
.col-xs-10, .col-md-10, .col-lg-10{
	width:80% !important;
	padding:0 !important;
	margin:auto;
}
#currentLocation{
	color:#333;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.location, .tel, .file{
	height:100% !important;
}
#startPosition, #endPosition {
	color:#333;
	font-size:38px;
	margin-top:1%;
	background:#fff;
	border:none;
	width:40%;
	height:90%;
}

#phoneNum{
	color:#333;
	font-size:38px;
	margin-top:1%;
	background:#fff;
	border:none;
	width:80%;
	height:90%;
}

#emergency1,#emergency2{
	width:40px;
	height:40px;
	margin-right:3px !important;
	margin-bottom:5px !important;
	vertical-align:middle;
}

.submitBut{
	width:100%;
	height:40%;
	margin:auto !important;
	display:flex;
	flex-direction:column;
	text-align:center;
}
.submitBut .submit{
	width:100%;
	height:35%;
	margin:auto;
	top:8%;
	padding:0 !important;
	display:flex;
	justify-content:center;
}
#submitButton{
	width: 90%;
	height: 100%;
	font-size: 38px;
	color: #fff;
	background-color:#2a70d2;
	border-radius:15px;
}
label{
	font-size:38px !important;
	font-weight:normal !important;
	margin:0 !important;
}
hr{
	border:none;
	border-top:1px solid #e5e5e5;
	margin:0 !important;
}

#frame{
	width:90px;
	height:200px;
	position:absolute;
	right:5%;
	top:1%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
#message{
	width:75%;
	height:30%;
	margin:auto;
	z-index:100;
	border:none;
}

#callPhone{
	width:100%;
	height:45%;
	border:none;
	z-index:100;
}

#pastDue{
	color:#f00;
	display:none;
}