.bbs_left_list{
	
	width:220px;
	height: 400px;
	float: left;
	border-right: 1px solid;
	overflow: auto;
}
.bbs_ul_list{
	
	list-style: none;
	padding: 0px;
	border: 1px solid #e9e9e9;
	margin: 0px;
	background-color: #fdfdfd; 
	
}
.bbs_expert_info{
	float: right;width: 133px;
}

.bbs_ul_list *{
	cursor: pointer;
	
}
.bbs_ul_list:hover{
	background-color: #e9e9e9; 
}
.bbs_left_list .expert_des{
	margin: 0px;
}
.bbs_li_list{
	 display: -webkit-box;
}
.export_selected{
	background-color: #e9e9e9 ; 
}
.expert_name{
	font-family: initial;
    color: blueviolet;	
    margin-bottom: 5px;
}
.expert_des{
	margin-top: 5px;
    overflow: hidden;
    width: 100%;
    height: 42px;
}