body{
	background-color:#7b767633;
}
.menu{
	width: 100%;
	background-color: #FFF;
}
.nav{
	width: 99%;
    margin-left: auto;
    margin-right: auto; */
}
.nav li{
/* 	justify-content: space-around; */
	display: inline-block;
	float: left;
	width: 33%;
	font-size: 13px;
}

.nav a{
	color: #000;
/* 	padding: 0px; */
	text-align: center;
	border-bottom: solid 2px #ffffff;
}
.nav a:hover{
	border-bottom: solid 2px #7AA4D6;
	color: #7AA4D6;
	background-color: #ffffff;
}

.showInfo{
	width: 98%;
	height: 350px;
	/* background: black; */
	margin-left:auto;
	margin-top:auto;
}

.personInfo{
	width: 100%;
	height:52px;
	margin-left: 1px;
	margin-top:2px;
	border: solid 1px #ccc;
}
.content{
	width: 90%;
	background-color: #FFF;
	height: 40%;
	margin-right: auto;
	margin: 5% auto;
	font-size: 14px;
}
/*加号*/
.postPlus img{
	height: 60px;
	width: 60px;
}

.postPlus{
	height: 6%;
	width: 6%;
	position: fixed;
	left: 72%;
	top: 74%;
	z-index: 1001;
}

.head{
	height: 20%;
}
.contentText{
	height: 50%;
	word-wrap:break-word;	
	word-break:break-all;
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
}
.contentPicture{
	height: 20%;
}
.foot{
	height: 10%;
}
.headImage{
	width: 20%;
	height: 100%;
	float: left;
}
.headNANDT{
	height: 100%;
	float: left;
}
.headName{
	height: 40%;
    margin-top: 2px;
}
.headTime{
	
}