<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jiaowei.mybatis.dao.RoadHtljDao">
	
	<sql id="sql_column">
		OID,NAME,INTERFLOW_CODE_BM interflowCodeBm,ROAD_BM roadBm,INTERFLOW_NAME interflowName
		,ROAD_NAME roadName,ROAD_LINE_NAME roadLineName,ROAD_CODE roadCode,
		STATUS,INTERFLOW_POS interflowPos,LONT,LAT
	</sql>

	<select id="queryList" parameterType="Map" resultType ="roadHtljVo">
		select <include refid="sql_column"/>
		from ROAD_HTLJ where 1=1
	</select>

</mapper>