<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jiaowei.mybatis.dao.UserVoDao">
	

	
	<select id="query" parameterType="Map" resultType ="userVo">
		select ID id,USER_ID userId,USER_NAME userName,DEPT_ID deptId
		from sys_user_t where USER_ID = #{userId}
	</select>

</mapper>