@charset "utf-8";
/* CSS Document */

body{
	padding:0;
	margin:0;
	max-width:760px;
	max-height:1300px;
	min-width:300px;
	font-family:"微软雅黑";
}

.banner{
	width:100%;
	
}
.banner img{
	width:100%;
	
}

.content{
	width:100%;
	margin-bottom:4px;

}

.content ul{
	width:80%;
	background:#F99;
}

.content ul li{
	width:44%;
	height:86px;
	float:left;
	list-style:none;
	margin-top:5%;
	text-align:center;
	font-weight:600;
	
	
	
}
.li_cont{
	width:100%;
	height:46%;
	-webkit-border-radius:10px;
	
}
.li_cont img{
	width:24%;
	height:46%;
	padding-top: 10px;
}


.bac1{
	background:#ff6165;
}
.bac4{
	background:#ff8651;
}

.bac{
	margin-left:6%;
}

.bac2{
	background:#05be65;
	
}
.bac3{
	background:#509cf6;
	
}

.bac5{
	background:#ffc45d;
	
}

.bac6{
	background:#01cbd2;
	
}


table {   
	border-collapse: collapse;   
	border: none;   
	width:98%;
	text-align: center;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
}   
table th,td {   
	border: solid #000 1px;   
}     
































