#callPolice-window .sendmessagebox {
	    width: 350px;
    height: 133px;
}

#callPolice-window  .singlebox {
	    margin: 15px auto;
}

#callPolice-window  input {
	width: 260px;
    height: 30px;
    border-width: 1px !important;
    /* margin-left: 30px; */
    border-radius: 6px;
    margin-top: 5px;
    outline: none;
}

#callPolice-window .content {
	margin-top: 5px;
	margin-left: 30px;
	border-radius: 6px;
	overflow: hidden;
	outline: none;
}

#callPolice-window  button {
	
   float: right;
    width: 69px;
    height: 31px;
    outline: none;
    border-width: 1px !important;
    border-radius: 6px;
    margin-right: 31px;
	
}