.menu{
	width: 100%;
}

.nav li{
	display: inline-block;
}

.nav a{
	color: black;
	padding: 0px;
	text-align: center;
}

.showInfo{
	width: 94%;
	height: 350px;
	background: black;
	margin-left: 3%;
	margin-top:2%;
}

.personInfo{
	width: 98%;
	height:50px;
	background: red;
	margin-left: 1%;
	margin-top:2px;
	float: left;
}

#photo{
	width: 50px;
	height: 50px;
	border-radius:50px;
	background-image: url(../bbs/img/kang.jpg);
	float: left;
}

#userName{
	width: 100px;
	height: 20px;
	background:blue;
	float: left;
}

#postTime{
	width: 100px;
	height: 20px;
	background:yellow;
	float: left;
}

.nameAndTime{
	width: 100px;
	height: 40px;
	float: left;
	margin-top:10px;
}


/*正文部分*/
.passage_content{
	width: 98%;
	height:109px;
	margin-left: 1%;
	margin-top:3px;
	background: orange;
}

.passage_picture{
	width: 98%;
	height:109px;
	margin-left: 1%;
	margin-top:3px;
	background: green;
}

/* 存放图片内容 */
.picture{
	width: 30%;
	height:80px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top:10px;
	background: white;
}

/*已有评论*/
.existedComment{
	width: 98%;
	height:30px;
	margin-left: 1%;
	margin-top:3px;
	background-color: rgb(136,56,189);
}

/*评论*/
.comment{
	width: 98%;
	height:25px;
	margin-left: 1%;
	margin-top:2px;
	background-color: rgb(120,56,20);
}

/*加号*/
.postPlus img{
	height: 60px;
	width: 60px;
}

.postPlus{
	height: 50px;
	width: 50px;
	position: fixed;
	left: 84%;
	top: 80%;
	z-index: 1001;
}

/* 发布信息页面*/
.content{
	width: 96%;
	height: 380px;
	margin-left:6px;
	background-color: black;
	margin-top: 10px;
}

.submit{
	width: 90%;
	display: block;
	margin:0 auto;
	margin-top: 10px;
}

.word{
	height: 150px;
	background-color: orange;
}

.pictures{
	width: 100%;
	height: 200px;
	background: red;
}

.addPicture img{
	width: 80px;
	height: 80px;
}

.addPicture{
	width: 100px;
	height: 100px;
	padding: 10px;
	background: green;
}