<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jiaowei.mybatis.dao.RoadSubscribeDao">
	
	<sql id="sql_column">
		SUBSID,SUBSOPENID,SUBSCHARACTER,SUBSIMG,SUBSCREATETIME,SUBSREMINDDATE,SUBSREMINDHOUR,SUBSREMINDMINUTE,
		SUBSREMINDWEEK,SUBSREMINDTYPE,SUBSISSTART,SUBSSENDTIMES,SUBSSENDNEXTTIMES,SUBSTITLENAME,SUBSTYPE
	</sql>

	<sql id="sql_where">
		where 1=1 
		<if test="openId != null  and openId != '' ">
			AND subsOpenId = #{openId}	
		</if>
		<if test="id != null ">
			AND subsId = #{id}	
		</if>
		<if test="subsType != null ">
			AND subsType = #{subsType}	
		</if>
		<if test="subsIsStart != null">
			AND subsIsStart = #{subsIsStart}	
		</if>
		<if test="subsSendNextTimes != null ">
			AND subsSendNextTimes <![CDATA[ < ]]>  #{subsSendNextTimes}	
		</if>
		order by subsRemindDate desc, subsId desc
	</sql>
	
	
	<select id="queryList" parameterType="Map" resultType ="roadSubscribeVo">
		select <include refid="sql_column"/>
		from road_subscribe 
		<include refid="sql_where"/>
	</select>
	
	<update id="update" parameterType="roadSubscribeVo">
		update road_subscribe set 
		subsIsStart = #{subsIsStart}
		,subsSendNextTimes = #{subsSendNextTimes}
		,subsCharacter = #{subsCharacter}
		,subsImg = #{subsImg}
		,subsRemindDate = #{subsRemindDate}
		,subsRemindHour = #{subsRemindHour}
		,subsRemindMinute = #{subsRemindMinute}
		,subsRemindWeek = #{subsRemindWeek}
		,subsRemindType = #{subsRemindType}
		,subsType = #{subsType}
		where subsId = #{subsId}
	</update>

</mapper>