@charset"utf-8" ;
html{font-family:sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;height:100%;overflow-y:scroll;}
audio:not([controls]){display: none;height: 0;}
[hidden]{display: none;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,select,textarea,th,td,div{margin:0;padding:0;}
a{text-decoration:none;color:#2fbd00;}
a:hover{text-decoration:none; opacity:0.6;filter:alpha(opacity=60)}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
fieldset,img{border:0;}
body{font-family:'微软雅黑','SimHei';font-size:12px;line-height:1.5;text-align:center;background:#fff;color:#424242;word-wrap:break-word;word-break:break-all;word-break:normal;}
/*404/500错误*/
body.errPage{background:#f1f1f1; text-align:left;}
.err404{height:350px;width:460px; position:fixed; z-index:1;left:50%;top:50%;margin:-175px 0 0 -230px;}
.err500{height:350px;width:460px; position:fixed; z-index:1;left:50%;top:50%;margin:-175px 0 0 -230px;}
body.errPage .l{float:left;width:290px;}
body.errPage .r{float:right;height:350px;position:relative; z-index:1;background: url(/image/err_bg.png) no-repeat center bottom;width:170px;}
body.errPage .l h6{font-size:100px;}
body.errPage .l .txt{font-size:16px;line-height:28px;}
body.errPage .l .txt em{color:#d10000;margin:0 10px 0 0;}
body.errPage .r .rot{width:166px;height:166px;background: url(/image/err_logo.png) no-repeat; position:absolute;top:10px;left:50%;margin-left:-83px;}
/*animate*/
@-webkit-keyframes rot {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes rot {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes rot {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
