p, dl, dt, dd, ul, li {
	padding: 0px;
	margin: 0px;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Adobe 黑体 Std R", "microsoft yahei";
	background-color: #fdf8f8;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	font-size: 15px;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #555555;
}

img {
	border: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

input, button {
	outline: 0px;
	border: 0px;
	font-family: "Adobe 黑体 Std R", "microsoft yahei";
}

input[type=button] {
	cursor: pointer;
}

table {
	border-collapse: collapse;
}

.clear:after {
	display: block;
	content: "";
	clear: both;
}

.container {
	width: 100%;
}

header {
	line-height: 45px;
	height: 45px;
	position: relative;
}

header h1 {
	color: #ad0e16;
	font-size: 1.9rem;
	text-align: center;
	border-bottom: 1px solid #bdbdbd;
}

.overflow {
	height: auto;
	overflow: hidden;
}

.wx01-title {
	margin: 0px 10px;
	padding: 15px 0px 0px 0px;
}

.wx01-title div {
	display: inline-block;
	padding: 5px;
}

.wx01-title div:first-child {
	border-left: 3px solid #4BDC1E;
	padding: 0px;
	margin: 5px 0px 0px 5px;
	margin-left: 10px;
	padding-left: 10px;
	float: left;
}

.wx01-title .button {
	border-radius: 3px;
	border: 1px solid #4BDC1E;
	float: right;
	margin-left: 10px;
}

.wx01-title .text {
	float: right;
}

.wx01-title .text a {
	display: inline-block;
	position: relative;
	width: 20px;
}

.wx01-title .text a img.left {
	width: 106%;
	position: absolute;
	left: -8px;
	top: -17px;
}

.wx01-title .text a img.right {
	width: 106%;
	position: absolute;
	left: 0px;
	top: -17px;
}

.wx01-banner {
	padding: 0px 15px;
}

.wx01-banner li {
	border-bottom: 1px solid #DCDDDD;
	padding: 10px 0px;
}

.wx01-banner li .pic {
	width: 20%;
	display: inline-block;
	margin-right: 16px;
}

.wx01-banner li .middle {
	display: inline-block;
}

.wx01-banner li .middle p {
	
}

.wx01-banner li .middle p.title {
	color: #333333;
	font-size: 18px;
}

.wx01-banner li .middle .sub-title {
	color: #999999;
	font-size: 14px;
}

.wx01-banner li .middle p.time {
	color: #4BDC1E;
	font-size: 18px;
	padding: 2px 0px;
}

.wx01-banner li .middle p.week {
	
}

.wx01-banner li .operte {
	display: inline-block;
	width: 26%
}

.wx01-banner li .operte .button-group {
	position: relative;
	margin-bottom: 20px;
}

.wx01-banner li .operte .button-group .button-01 {
	position: absolute;
	z-index: 10;
	right: 0px;
}

.wx01-banner li .operte .button-group .button-close {
	position: absolute;
	z-index: 20;
	left: 19%;
}

.wx01-banner li .operte .button-group .button-open {
	position: absolute;
	left: 70%;
	z-index: 30;
}

.wx01-second {
	padding: 15px 15px;
}

.wx01-second li {
	display: inline-block;
	width: 31%;
	margin-left: 0.5%;
	border: 1px solid #EEEEEE
}

.wx01-second dt {
	position: relative;
	height: 80px;
}

.wx01-second dt .big-pic {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

.wx01-second dt .bg {
	position: absolute;
	left: 0px;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.4);
	height: 30px;
	width: 100%;
	z-index: 20;
}

.wx01-second dt .text {
	position: absolute;
	left: 8px;
	bottom: 6px;
	color: #F2F2F2;
	z-index: 30
}

.wx01-second dl dd {
	padding: 10px;
}

.wx01-second dl dd img {
	width: 17%
}

.wx01-second dl dd span {
	font-size: 18px;
}

.wx01-third {
	background: #fff;
	margin-top: 15px;
	padding: 30px 15px;
}

.wx01-third img {
	
}

.white-bg {
	background: #fff;
	padding: 15px;
}

.wx02-first {
	
}

.wx02-first li {
	padding: 15px 0px;
	border-top: 1px solid #DCDDDD;
}

.wx02-first li:first-child {
	border: none;
	padding-top: 0px;
}

.wx02-first li:last-child {
	padding-bottom: 5px;
}

.wx02 {
	font-size: 17px;
}

.wx02 .input-title {
	font-size: 16px;
	display: inline-block;
	margin-right: 10px;
}

.wx02 .sub-text {
	color: #999999;
}

.wx02-first .input-radio {
	position: relative;
	margin-left: 25px;
	display: inline;
}

.wx02-first input.hidden-input {
	border: none;
	height: 30px;
	width: 43%;
	display: inline-block;
	line-height: 30px;
}

.wx02-first input[type=radio] {
	display: none;
}

.wx02-first .open-label {
	position: absolute;
	left: -36%;
	top: 11%;
	background: url("/image/road/wx02-input-icon-1.png") center center
		no-repeat;
	width: 19px;
	height: 19px;
	display: inline-block;
	background-size: cover;
}

.wx02-first .close-label {
	position: absolute;
	left: -36%;
	top: 11%;
	background: url("/image/road/wx02-input-icon-2.png") center center
		no-repeat;
	width: 19px;
	height: 19px;
	display: inline-block;
	background-size: cover;
}

.wx02-first .button {
	border-radius: 15px;
	background: #25C025;
	border: none;
	color: #fff;
	padding: 5px 10px;
	font-size: 15px;
	float: right;
}

.wx02-second {
	margin-top: 15px;
}

.wx02 .jiantou {
	float: right;
	background: url("/image/road/wx02-right-jiantou.png") right center
		no-repeat;
	display: inline-block;
	padding-right: 25px;
	background-size: 8%;
}

.wx02-third {
	margin-top: 15px;
}

.wx02-third li {
	height: 50px;
}

.wx02 select {
	border: 1px solid #E4E4E4;
	border-radius: 15px;
	float: right;
	width: 74%;
	height: 30px;
	color: #999999;
	padding: 0 15px;
}

.wx02 select.multiple {
	height: 154px;
}

.wx02 li button.save {
	display: block;
	clear: both;
	width: 100%;
	margin: 10px 0px;
	height: 35px;
	color: #fff;
	background: #25C025;
	border-radius: 20px;
	font-size: 18px;
}

.wx02-third li.last {
	display: block;
	clear: both;
}

.load-bg {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
	display: block;
	z-index: 9900
}

.load-box {
	position: fixed;
	width: 180px;
	height: 180px;
	left: 50%;
	top: 50%;
	margin: -90px 0 0 -90px;
	display: block;
	background: #fff;
	border-radius: 10px;
	z-index: 9901;
	line-height: 30px;
	text-align: center;
	color: #000;
	font-size: 18px;
}

.load-box img.icon {
	width: 45%;
	margin: 30px 0 10px;
}

.wx05-four {
	margin-top: 15px;
}

.wx05-four li {
	display: inline-block;
	width: 48.3%;
	border: 1px solid #F5F5F5;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

/*
.wx05-four li:last-child {
	border: none;
	width: 100%;
	margin-top: -10px;
}
*/

.wx05-four li .top {
	position: relative
}

.wx05-four li .top .pic {
	width: 100%
}

.wx05-four li .top .icon {
	position: absolute;
	right: 5%;
	top: 5%;
	width: 17%;
}

.wx05-four li p {
	text-align: center;
}

.wx05-four li p:last-child {
	font-size: 15px;
	color: #AEAEAE;
}

.wx06 li {
	background-size: 5%;
}

.wx06 li.active {
	background: url("/image/road/06-01.png") right center no-repeat;
	background-size: 5%;
}

.wx06 .input-title {
	
}

.wx001 .no-text {
	color: #fff;
}

.wx001 .icon-title {
	padding-left: 40px;
}

.wx002 li p:last-child {
	color: #000;
	margin: 10px 0px;
	font-size: 17px;
}

.wx003 .tips {
	text-align: center;
	color: #ABABAB;
	margin: 10px 0px 0px;
}

.wx003 .wx01-second li {
	width: 48%;
	height: 170px;
	margin-bottom: 10px;
}

.wx003 .wx01-second li dt {
	height: 130px;
}

.wx003 .wx01-second dl dd img {
	width: 12%;
}

.wx003 .wx01-second dl dd span {
	font-size: 20px;
	color: #A1A1A1;
}

.wx005 {
	padding: 10px 15px;
}

.wx005 li {
	display: inline-block;
	width: 19.5%;
	background: #47CF2D;
	padding: 5px 0px;
	text-align: center;
	color: #fff;
	margin-left: 5.5%;
	font-size: 18px;
	border-radius: 5px;
}

.wx005 li:first-child {
	margin-left: 0px;
	background: #208ECF;
}

.wx005-second input[type=submit] {
	width: 19%;
	height: 39px;
	color: #fff;
	background: url("/image/road/005-01.png") 10% center no-repeat
		#208ECF;
	background-size: 32%;
	padding-left: 24px;
}

.wx005-second input[type=text] {
	width: 72%;
	border: 1px solid #EFEFEF;
	height: 35px;
	padding-left: 15px;
}

.wx005-third li .pic {
	padding-top: 0px;
	width: 24%;
	display: inline-block
}

.wx005-third li .middle {
	width: 67%;
}

.wx005-third li .middle p {
	padding: 5px 0px;
}

.wx005-third li .middle p.title .tag {
	float: right;
	color: #F50500;
}

.wx005-third li .middle p.week {
	padding-top: 0px;
	display: block;
	overflow: hidden;
	word-break: keep-all;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.wx006-first a {
	border: 2px solid #CAF6C0;
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
}

.wx006-first .share {
	position: relative;
	display: inline-block;
	width: 60%;
}

.wx006-first .share img {
	width:40px;
	height:40px;
	/**width: 18%;*/
}

.wx006-first .share img.weibo {
	

	
}

.wx006-first .share img.weixin {

}

.wx006-first a.direct {
	float: right;
}

.content {
    overflow: hidden;
    min-height: 100%;
    background: #fff;
}

.p-no-newline {
	overflow: hidden;
	word-break: keep-all;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.wx-switch-img{
	
}
